.visible{
    bottom: 8px;
    position: absolute;
    right: 10px;
    font-size: 20px;
}

/* .inVisible{
    font-size: 20px;
    right: 10px;
    position: relative;
    text-align: end;
    width: 100%;
    bottom: 30px;
} */