.onHoverBgColorChange{
    background-color: unset;
    transition: all 0.5s ease-in-out ;
    height: 100px;
    }

.onHoverBgColorChange:hover{
    background-color: #0195d3;
}
.onScrollBgColorChange{
    background-color: #bd3535;
    transition: all 0.5s ease-in-out ;
    height: 70px;
}
.largeLogo{
    width: 100px;
    transition: all 0.5s ease-in-out ;
}
.smallLogo{
    width: 70px;
    transition: all 0.5s ease-in-out ;
}

