.onHoverBgColorChange{
    background-color: unset;
    transition: all 0.5s ease-in-out ;
    height: 100px;
    }

.onHoverBgColorChange:hover{
    background-color: #0195d3;
}
.onScrollBgColorChange{
    top: 0;
    background-color: #bd3535;
    transition: all 0.5s ease-in-out ;
    height: 70px;
}


.fixed-scroll-top{
    position: fixed;
    top: 33px;
    right: 0;
    left: 0;
    z-index: 1030

}





.largeLogo{
    width: 100px;
    transition: all 0.5s ease-in-out ;
}
.smallLogo{
    width: 70px;
    transition: all 0.5s ease-in-out ;
}
.navbarManue:hover {
    transition: all 0.5s ease-in-out ;
    background-color: orangered;
    border-radius: 5px;

}
.navbarManue {
   cursor: pointer;

}
.navbarManue:hover .navbarList{
    display: block;

}

  .navbarList{
    border-radius: 5px;
    margin: 7px -12px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* background-color: #09a0c9; */
    text-align: left;
      position: absolute;
      display: none;
  }
  .listSubManue .subManue{
      font-size: 20px;
   color: white;
 
}
.listSubManue{
    background-color: #0909cf;


}


  .listSubManue:hover .subManue{
    background-color: orangered;
    color: black;
    font-weight: bold;

  }